.DS_Store
node_modules
.pnpm-store
.vite


/tests/e2e/videos/
/tests/e2e/screenshots/


# local env files
.travis.yml
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output is generated during release.
/dist
/coverage
/docs/.vitepress/dist
/docs/.vitepress/cache
/docs/public/demo
/docs/public/lab
/docs/public/v1
/playwright-report
/test-results
/.tmp

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
